h1{
    color: blueviolet;
}
img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: burlywood;
    padding: 50px;
    border-style: solid;
    border-color: cadetblue;
    border-radius: 12px;
}

#spanID{
    font-size: 25px;
    margin: 50px;
}